In [1]:
key = 'astyer'
key[:3]+key[3:]

'astyer'

In [2]:
list = ['a','b']
list [10:]

[]

In [4]:
a= int(input("Enter any number: "))
if(a%2==0):
  print (a," is an even number")
else:
  print (a," is a odd number")

Enter any number: 44
44  is an even number

In [5]:
x= int(input("Enter value of x: "))
y= int(input("Enter value of y: "))
if (x>y):
  print ("X = ",x," is greater than Y = ", y)
else:
  print ("Y = ",y," is greater than X = ", x)

Enter value of x: 34
Enter value of y: 242
Y =  242  is greater than X =  34

In [12]:
n = 5
for i in range(1,n):
  print (i)

1
2
3
4

In [19]:
n = 10
for i in range(1,n):
  if (i == 5):
    
    print (i)

5

In [25]:
def add(a1 = 1,a2 = 3):
  s = a1 +a2
  print (s)

In [27]:
add (10,2)

12

In [28]:
x = add()

4

In [29]:
print (x)

None

In [32]:
def add(a1 = 1,a2 = 3):
  s = a1 +a2
  
  return (s)

In [33]:
x = add()
print (x)

4